.constanta-pagination {
  display: flex;
  align-items: center;
  gap: 0 4px;

  &.light {
    button,
    .dots {
      border-color: $l_border_clickable;

      &:hover {
        color: $l_text_white;
      }

      &:hover,
      &.active,
      &.active:hover {
        background-color: $l_surface_decorative_orange;
      }

      &:disabled,
      &.disabled {
        color: $l_disabled_text !important;

        background-color: $l_disabled_background !important;

        border-color: $l_disabled_border !important;

        svg {
          @include svg_color($l_disabled_content !important);
        }
      }
    }
  }

  &.dark {
    button,
    .dots {
      color: $d_text_main;

      border-color: $d_border_clickable;

      svg {
        @include svg_color($d_content_gray);
      }

      &:hover,
      &.active,
      &.active:hover {
        background-color: $d_surface_decorative_orange;
      }

      &:disabled,
      &.disabled {
        color: $d_disabled_text !important;

        background-color: $d_disabled_background !important;

        border-color: $d_disabled_border !important;

        svg {
          @include svg_color($d_disabled_content !important);
        }
      }
    }
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;

    margin: 0 4px;

    @include strict_size(32px, 32px);

    svg {
      @include strict_size(16px, 16px);
    }

    &:hover {
      background: none !important;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 2px;

    padding: 0 12px;

    @include strict_size(32px, false);
    @include font_style_body_semibold_small;

    svg {
      @include strict_size(16px, 16px);
    }

    &:not(.arrow) {
      &:hover {
        border-color: $primary_hover;

        background-color: $primary_hover;
      }
    }

    &.arrow {
      @include strict_size(32px, 32px);

      &:hover {
        border-color: $primary_hover;

        svg {
          @include svg_color($primary_hover);
        }
      }
    }

    &.active {
      border-color: $primary_default;

      color: $primary_default;

      &:hover {
        border-color: $primary_hover;

        color: $primary_hover;
      }
    }
  }

  & &__pages {
    display: flex;
    align-items: center;
    gap: 0 4px;

    margin: 0 9px;
  }
}
