.constanta-uploader {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  form {
    &,
    & input {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0;
    }
  }

  svg {
    @include strict_size(40px, 40px);
  }

  &.large {
    padding: 32px 24px;
  }

  &.medium {
    padding: 24px 16px;
  }

  &.light {
    background-color: $l_surface_decorative_blue;

    p.constanta-uploader__title {
      color: $l_text_main;
    }

    p.constanta-uploader__description {
      color: $l_text_weak;
    }
  }

  &.dark {
    background-color: $d_surface_decorative_blue;

    p.constanta-uploader__title {
      color: $d_text_main;
    }

    p.constanta-uploader__description {
      color: $d_text_weak;
    }
  }

  &.wait {
    &,
    & * {
      cursor: pointer;
    }

    &.dark {
      svg {
        @include svg_color($d_content_gray);
      }
    }
  }

  &.uploading {
    cursor: not-allowed;

    svg.constanta-spinner {
      @include svg_color($secondary_default);
    }
  }

  &.error {
    cursor: not-allowed;
  }

  &.successfully {
    cursor: not-allowed;
  }
}
