// COLOR
$cta_default: #d32e1d;
$cta_hover: #f74431;
$cta_pressed: #b22719;
$d_border_clickable: #5a6063;
$d_border_decorative: #42494d;
$d_content_gray: #e1e1e1;
$d_disabled_background: #252b2e;
$d_disabled_border: #3b4043;
$d_disabled_content: #4a4f50;
$d_disabled_text: #95999b;
$d_surface_decorative_blue: #152736;
$d_surface_decorative_green: #162c23;
$d_surface_decorative_orange: #2a221d;
$d_surface_decorative_red: #2a2021;
$d_surface_decorative_yellow: #2a2c1d;
$d_surface_gray: #172024;
$d_surface_gray_2: #20282b;
$d_surface_gray_3: #2b3236;
$d_text_link: #1686fd;
$d_text_link_used: #5f95ce;
$d_text_main: #f7f7f7;
$d_text_weak: #889194;
$d_text_weaker: #515657;
$l_border_clickable: #d0d2d2;
$l_border_decorative: #e2e2e2;
$l_content_gray: #42494d;
$l_content_white: #ffffff;
$l_disabled_background: #f0f0f0;
$l_disabled_border: #dbdbdb;
$l_disabled_content: #acb0b1;
$l_disabled_text: #717779;
$l_surface_decorative_blue: #f4f9ff;
$l_surface_decorative_green: #f1faf2;
$l_surface_decorative_orange: #fff7f2;
$l_surface_decorative_red: #fef2f0;
$l_surface_decorative_yellow: #fffaed;
$l_surface_gray: #f3f4f4;
$l_surface_gray_2: #e7e8e9;
$l_surface_gray_3: #c4c6c7;
$l_surface_white: #ffffff;
$l_text_link: #0068d7;
$l_text_link_used: #5f95ce;
$l_text_main: #131c20;
$l_text_weak: #717779;
$l_text_weaker: #a4a7a8;
$l_text_white: #ffffff;
$ui_decorative_light_blue: #238dff;
$ui_decorative_light_green: #30ba3e;
$ui_decorative_light_orange: #f85a00;
$ui_decorative_light_red: #f5412e;
$ui_decorative_light_yellow: #fbbb00;
$additional_colors_blue_processing: #238dff;
$additional_colors_green_success: #30ba3e;
$additional_colors_orange_default: #f85a00;
$additional_colors_red_error: #f5412e;
$additional_colors_yellow_warning: #fbbb00;
$background_dark: #131c20;
$background_light: #ffffff;
$background_opacity: #000000;
$d_content_white: #ffffff;
$primary_default: #f85a00;
$primary_hover: #f87225;
$primary_pressed: #e85400;
$secondary_default: #0068d7;
$secondary_hover: #1f7de0;
$secondary_pressed: #0058b5;
