.font-style-body-large {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.font-style-body-medium {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.font-style-body-semibold-large {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.font-style-body-semibold-medium {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.font-style-body-semibold-small {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.font-style-body-small {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.font-style-button-large {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.font-style-button-medium {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.font-style-button-small {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.10000000149011612px;
}

.font-style-display-large {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

.font-style-display-medium {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
}

.font-style-display-small {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.font-style-headline-large {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.font-style-headline-medium {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.font-style-headline-small {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.font-style-label-large {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.font-style-label-medium {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.font-style-label-small {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.font-style-title-large {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.font-style-title-medium {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.font-style-title-small {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
