.constanta-avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;

  overflow: hidden;

  p {
    @include font_style_title_large;
  }

  img {
    @include strict_size(100%, 100%);

    object-fit: cover;
  }
}

.light.constanta-avatar {
  background-color: $l_surface_gray;

  p {
    color: $l_text_main;
  }

  svg {
    @include svg_color($l_content_gray);
  }
}

.dark.constanta-avatar {
  background-color: $d_surface_gray_2;

  p {
    color: $d_text_main;
  }

  svg {
    @include svg_color($d_content_gray);
  }
}

/**
  * Sizes
  */

.small.constanta-avatar {
  @include strict_size(24px, 24px);

  p {
    @include font_style_body_medium;
  }

  &.default-icon {
    svg {
      @include strict_size(14px, 14px);
    }
  }
}

.medium.constanta-avatar {
  @include strict_size(40px, 40px);

  &.default-icon {
    svg {
      @include strict_size(24px, 24px);
    }
  }
}

.large.constanta-avatar {
  @include strict_size(64px, 64px);

  &.default-icon {
    svg {
      @include strict_size(38px, 38px);
    }
  }
}
