.constanta-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 4px;

  @include input_border(false);

  padding: 2px 8px;

  width: max-content;

  span {
    color: $l_text_main;
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;

      @include svg_color($l_content_gray);
    }
  }
}

.large.constanta-tag {
  min-height: 24px;

  span {
    @include font_style_body_medium;
  }

  button,
  svg {
    @include strict_size(16px, 16px);
  }
}

.medium.constanta-tag {
  min-height: 20px;

  span {
    @include font_style_body_small;
  }

  button,
  svg {
    @include strict_size(12px, 12px);
  }
}

.constanta-tag {
  &.gray,
  &.grey {
    border-color: $l_border_decorative;

    background-color: $l_surface_gray;
  }

  &.blue {
    border-color: $additional_colors_blue_processing;

    background-color: $l_surface_decorative_blue;
  }

  &.yellow {
    border-color: $additional_colors_yellow_warning;

    background-color: $l_surface_decorative_yellow;
  }

  &.green {
    border-color: $additional_colors_green_success;

    background-color: $l_surface_decorative_green;
  }

  &.red {
    border-color: $additional_colors_red_error;

    background-color: $l_surface_decorative_red;
  }

  &.orange {
    border-color: $additional_colors_orange_default;

    background-color: $l_surface_decorative_orange;
  }
}
