.constanta-checkbox {
  position: relative;

  display: flex;
  align-items: center;
  gap: 0 4px;

  input {
    position: absolute;
    top: 12px;
    left: 12px;

    opacity: 0;

    @include strict_size(0, 0);
  }

  .checkbox__container {
    padding: 2px;

    @include strict_size(24px, 24px);

    &,
    .checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .checkbox {
      border-radius: 2px;
      border-width: 1px;
      border-style: solid;

      width: 100%;
      height: 100%;

      svg {
        @include strict_size(12px, 12px);
        @include svg_color($l_content_white);
      }
    }
  }

  &--title {
    line-height: 24px;

    user-select: none;
  }
}

.constanta-checkbox {
  &.checked:hover,
  &.checked.focus {
    .checkbox__container {
      .checkbox {
        background-color: $primary_hover;
      }
    }
  }

  &.checked {
    .checkbox__container {
      .checkbox {
        border-color: $primary_default;
        background-color: $primary_default;
      }
    }
  }

  &:hover,
  &.focus {
    .checkbox__container {
      .checkbox {
        border-color: $primary_hover;
      }
    }
  }
}

.light.constanta-checkbox {
  .checkbox {
    border-color: $l_border_clickable;

    svg {
      @include svg_color($l_content_white);
    }
  }

  .constanta-checkbox--title {
    color: $l_text_main;
  }

  &.disabled,
  &.disabled:hover {
    cursor: not-allowed;

    &.checked {
      .checkbox {
        border-color: $l_disabled_background;
      }
    }

    .checkbox {
      border-color: $l_disabled_border;
      background-color: $l_disabled_background;

      svg {
        @include svg_color($l_disabled_content);
      }
    }

    .constanta-checkbox--title {
      color: $l_disabled_text;
    }
  }
}

.dark.constanta-checkbox {
  .checkbox {
    border-color: $d_border_clickable;

    svg {
      @include svg_color($l_content_white);
    }
  }

  .constanta-checkbox--title {
    color: $d_text_main;
  }

  &.disabled,
  &.disabled:hover {
    cursor: not-allowed;

    &.checked {
      .checkbox {
        border-color: $d_disabled_background;
      }
    }

    .checkbox {
      border-color: $d_disabled_border;
      background-color: $d_disabled_background;

      svg {
        @include svg_color($d_disabled_content);
      }
    }

    .constanta-checkbox--title {
      color: $d_disabled_text;
    }
  }
}
